@import "../../sass/variables.scss";

.WeekBox {
    width: 5rem;
    height: 5rem;
    background-color: $inactive-blue;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 1rem $very-light-black;
    font-size: 1.75rem;
    font-weight: 700;
    color: rgba(56, 55, 55, 0.795);

    &--active {
        background-color: $active-green;
    }
}