@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
@import "../../sass/variables.scss";

.ModalButton {
    cursor: pointer;
}

.Modal {
    width: 37.5rem;
    height: 55rem;
    background-color: white;
    font-family: "Baloo Da 2";

    &__section-container {
        
        height: 87.5%;
        padding: 2rem 3rem
    }

    &__habit-heading {
        font-size: 2.5rem;
        margin-right: 2rem;
    }

    &__habit-week {
        font-size: 1.5rem;
    }

    &__progress-bar-container {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__progress-score-container {
        font-family: "Monda";
        position: absolute;
        font-size: 3.5rem;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.801)
    }

    &__week-tracker-container {
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
    }

    &__week-box {
        background-color: $inactive-blue;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        font-size: 1.25rem;
        cursor: pointer;
        font-weight: 700;
        font-family: "Monda";
        color: rgba(0, 0, 0, 0.801);
        transition: 0.5s background-color;

        &--active {
            background-color: $active-green;
        }
    }
}