@import "../../sass/variables.scss";

.SubmitModal {
    background-color: white;
    width: 40rem;
    height: auto;
    font-family: "Lato";

    &__container {
        padding: 3rem
    }

    &__heading {
        font-size: 2rem;
        margin-bottom: 0.75rem;
        color: $secondary-color
    }

    &__user-input {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        color: $off-black;

        &--number {
            margin-top: 1.5rem;
            margin-left: 1rem;
            font-weight: 700;
        }
    }

    &__number-inputs-container {
        display: flex;
        flex-direction: row;
    }

    &__number-input-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__btn-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }

    &__btn {
        padding: 1rem 1rem;
        margin-top: 2rem;
        cursor: pointer;
        border: 0.15rem solid $secondary-color;
        border-radius: 0.2rem;
        color: $off-black;
        background-color: transparent;
        font-weight: 700;
        position: relative;
        z-index: 3;

        &:hover::after {
            width: 100%;
            
        }

        & span {
            z-index: 4;
        }

        &::after {
            content: "";
            width: 0%;
            height: 100%;
            background-color: $secondary-color;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.3s all cubic-bezier(.53,-0.17,.83,.94);
            z-index: 2;
        }

        
    }
}


