@import "../../sass/variables.scss";

.StatsHeader {
    height: 85vh;
    background-color: $primary-color-dark;

    &__container {
        height: 100%
    }

    &__individual-habits-container {
        width: 40%;
        height:  100%;
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;

    }

    &__habits-container {
        width: 85%;
        padding: 0rem 0;
        margin: 0 auto;
        overflow-y: auto;
        margin-top: 0rem;
        height: 80%;
        direction: rtl;
    }
}

::-webkit-scrollbar {
    direction: rtl;
    width: 5px
  }

  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f14f;
    border-radius: 1rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.432);
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

