@import "../../sass/variables.scss";


.HabitStats {
    height: 80vh;
    position: relative;
    

    &__container {
        width: 85%;
        margin: 0 auto;
        display: flex;
        position: relative;
        height: 80%;
        overflow: hidden;
        padding: 0 0.25rem;
        border-bottom: 0.2rem solid $very-light-black;
    }

    &__first-container {
        width: 70%
    }

    &__heading {
        padding: 4rem 0 1rem 0;
        font-size: 3.5rem;
        font-weight: 400;
    }

    &__habit-description {
        font-size: 1.5rem;
        color: $transparent-black;

        & span {
            font-weight: 700;
        }
    }

    &__week-container {
   
        width: 70%;
        margin-top: 3.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__sub-title {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    &__progress-bar-container {
        margin-top: 5rem;
        width: 85%;

        & p {
            font-size: 1.25rem;
            margin-top: 0.5rem;

            & span {
                font-weight: 900;
            }
        }
    }

    &__habit-count {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        letter-spacing: 0.2rem;
    }

    &__minus-plus-container {
        margin-top: 2rem;
        display: flex;
    }

    &__btn {
        width:3.5rem;
        height:3.5rem;
        cursor: pointer;
        margin: 0 0.3rem;
        border: none;
        border-radius: 0.4rem;
        background-color: $off-white;
        border: 0.1rem solid $very-light-black;
        font-weight: 400;
        font-size: 2rem;
    }

    &__input {
        height:3.5rem;
        width: 10rem;
        text-align: center;
        font-size: 2rem;
		border:0.1rem solid #ddd;
		border-radius:0.4rem;
        display: inline-block;
        vertical-align: middle;
    }

    &__second-container {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__circular-container {
        width: 30rem;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 7.5rem;
    }

    &__circle-stats {
        width: 5rem;
        height: 5rem;;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.75rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__next-week-btn {
        width: 5rem;
        height: 3rem;
        font-size: 0.95rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all 4s ease;
        outline: none;

        &:hover {
            font-size: 1rem;
        }
    }

    &__arrow-icon {
        width: 2.5rem
    }

    &__btn-container {
        position: relative;
        width: 60rem;
        position: absolute;
        right: 7.5%;
        bottom: 12.5%;
        display: flex;
        justify-content: center;
    }

    &__save-btn {
        
        cursor: pointer;
        padding: 0rem 2.5rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        border-radius: 0.3rem;
        border: none;
        outline: none;
        box-shadow: 0.1rem 0.1rem 1rem $very-light-black;
        background-color: rgba(255, 255, 0, 0.479);
        transition: 1.5s all ease;
        margin-right: 4rem;
        width: 32.5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    &__proceed-btn {
        @extend .HabitStats__save-btn;
        background-color: rgba(231, 99, 99, 0.747);
        width: 32.5rem;


        &--proceed {
            background-color: $light-green;
            width: 32.5rem;
        }
    }

    &__small-btns-container {
        position: absolute;
        left: 7.5%;
        bottom: 12.5%;
        height: 5rem;
        display: flex;
        align-items: center;
    }

    &__small-btn-container {
        width: 3.5rem;
        height: 3.5rem;
      
        border-radius: 100%;
        margin-right: 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
        border: 0.15rem solid rgba(0, 0, 0, 0.24);
        background-color: rgba(212, 209, 209, 0.26);
    }

    &__small-icon {
        width: 2rem;

        &--larger {
            width: 2.25rem
        }
    }
}








.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: green;
    fill: none;
    animation: stroke 2s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    
  }
  
  .checkmark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: green;
    stroke-miterlimit: 10;
    margin: 0 auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.75s cubic-bezier(0.65, 0, 0.45, 1) 2s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px transparent;
    }
  }