@import "../../sass/variables.scss";

.HabitStats {
    height: 75vh;
    position: relative;

    &__container {
        width: 85%;
        margin: 0 auto;
        display: flex;
        
        height: 75%
    }

    &__first-container {
        width: 70%
    }

    &__heading {
        padding: 4rem 0 1rem 0;
        font-size: 3.5rem;
        font-weight: 400;
    }

    &__habit-description {
        font-size: 1.5rem;
        color: $transparent-black;

        & span {
            font-weight: 700;
        }
    }

    &__week-container {
   
        width: 75%;
        margin-top: 3.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__sub-title {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    &__progress-bar-container {
        margin-top: 5rem;
        width: 85%;

        & p {
            font-size: 1.25rem;
            margin-top: 0.5rem;

            & span {
                font-weight: 900;
            }
        }
    }

    &__habit-count {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        letter-spacing: 0.2rem;
    }

    &__minus-plus-container {
        margin-top: 2rem;
        display: flex;
    }

    &__btn {
        width:3.5rem;
        height:3.5rem;
        cursor: pointer;
        margin: 0 0.3rem;
        border: none;
        border-radius: 0.4rem;
        background-color: $off-white;
        border: 0.1rem solid $very-light-black;
        font-weight: 400;
        font-size: 2rem;
    }

    &__input {
        height:3.5rem;
        width: 10rem;
        text-align: center;
        font-size: 2rem;
		border:0.1rem solid #ddd;
		border-radius:0.4rem;
        display: inline-block;
        vertical-align: middle;
    }

    &__second-container {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__circular-container {
        width: 30rem;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: -2.5rem;
    }

    &__circle-stats {
        width: 5rem;
        height: 5rem;;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.75rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__next-week-btn {
        width: 5rem;
        height: 3rem;
        font-size: 0.95rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all 4s ease;
        outline: none;

        &:hover {
            font-size: 1rem;
        }
    }

    &__arrow-icon {
        width: 2.5rem
    }

    &__btn-container {
        position: relative;
        width: 50rem;
        position: absolute;
        right: 7.5%;
        bottom: 7.5%;
        display: flex;
        justify-content: center;
    }

    &__save-btn {
        
        cursor: pointer;
        padding: 1.5rem 2.5rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        border-radius: 0.3rem;
        border: none;
        outline: none;
        box-shadow: 0.1rem 0.1rem 1rem $very-light-black;
        background-color: rgba(255, 255, 0, 0.479);
        transition: 1.5s all ease;
        margin-right: 4rem;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__proceed-btn {
        @extend .HabitStats__save-btn;
        background-color: rgba(231, 99, 99, 0.747);
        width: 25rem;


        &--proceed {
            background-color: rgba(110, 223, 110, 0.747);
            width: 25rem;
        }
    }
}