@import "../../sass/variables.scss";

.IndividualGoal{
    width: 90%;
    height: 5rem;
    margin: 1rem;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    overflow-y: auto;
    padding: 0 2rem;
    text-align: center;
}