.Settings {

    &__container {
        width: 85%;
        margin: 0 auto;
        padding: 5rem 0;
        display: flex;
        padding-bottom: 10rem;
        height: 80vh;
    }

    &__habit-container {
        font-size: 3rem;
    }

}