
// COLORS 
$primary-color : rgb(60, 114, 175);
$primary-color-light : rgb(11, 164, 235);
$primary-color-dark: rgb(15, 51, 92);

$primary-white: rgb(245, 241, 241);
$primary-white-light: rgb(252, 255, 255);

$white: white;
$black: rgb(20, 20, 20);
$light-grey: rgba(206, 203, 203, 0.452);
$google-orange: rgb(249,87,89);
$facebook-blue: rgb(57,86,148);
$royal-red: rgb(194, 67, 67);

$inactive-blue : rgba(51, 196, 201, 0.432);
$active-green: rgb(113, 214, 113);

