
// COLORS 
$primary-color : rgb(60, 114, 175);
$primary-color-light : rgb(11, 164, 235);
$primary-color-dark: rgb(15, 51, 92);

$secondary-color-dark: rgba(19, 112, 90, 0.568);
$secondary-color: rgba(58, 179, 151, 0.89);
$secondary-color-darker: rgba(10, 73, 58, 0.89);

$primary-white: rgb(245, 241, 241);
$primary-white-light: rgb(252, 255, 255);

$black: rgb(20, 20, 20);
$off-black: rgb(36, 35, 35);
$very-light-black: rgba(0, 0, 0, 0.336);
$transparent-black: rgba(0, 0, 0, 0.719);

$light-grey: rgba(206, 203, 203, 0.452);
$grey: rgb(129, 128, 128);

$white: white;
$off-white: rgb(243, 239, 239);
$google-orange: rgb(249,87,89);
$facebook-blue: rgb(57,86,148);
$royal-red: rgb(194, 67, 67);

$transparent-green: rgba(99, 190, 99, 0.137);
$less-transparent-green: rgba(99, 190, 99, 0.247);
$inactive-blue : rgba(51, 196, 201, 0.432);
$active-green: rgb(113, 214, 113);

