@import "../../sass/variables.scss";

.WeekGoals {

    padding: 5rem 0;
    
    &__container {
        width: 80%;
        margin: 0 auto
    }

    &__heading {
        font-size: 3rem;
    }

    &__form {
        
        margin-top: 3rem;
        font-family: "monospace";
    }

    &__text-input {
        padding: 1.5rem 1.5rem;
        height: 5rem;
        width: 30rem;
        border-left: 0.2rem solid $light-border-grey;
        border-top: 0.2rem solid $light-border-grey;
        border-bottom: 0.2rem solid $light-border-grey;
        border-right: none;
        outline: none;
        font-weight: 700;
        color: $off-black;
    }

    &__select {
        height: 5rem;
        padding: 0 1.5rem;
        border-radius: 0 0.25rem 0.25rem 0;
        margin-right: 5rem;
        cursor: pointer;
        font-weight: 700;
        border: none;
        background-color: $primary-color-lighter;
        color: $off-black;
        text-align: center;
        outline: none
    }

    &__option {
        background-color: $off-white;
    }

    &__submit-btn {
        height: 5rem;
        width: 20rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        background-color: transparent;
        border: 0.2rem solid $light-border-grey;
        cursor: pointer;
        outline: none;
    }

    &__goals-container {
        margin-top: 3rem;
        padding: 2rem 0;
        display: flex;
        justify-content: space-evenly;
    }

    &__goal-container {

    }

    &__heading {
        font-size: 2.5rem;
        text-align: center;
        color: $off-black
    }
    

    &__card {
        width: 30rem;
        height: 35rem;
        background-color: $white;
        margin-top: 1.5rem;
        border: 0.15rem solid $less-light-grey;
        border-radius: 0.3rem;
        box-shadow: 0.2rem 0.2rem 1rem $very-light-black;
    }

    &__btn-container {
        text-align: center;
        padding: 2rem;
        width: 30%;
        margin: 0 auto;
    }

    &__remove-btn {
        border: none;
        text-align: center;
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 100%;
        cursor: pointer;
        font-weight: 700;
        font-size: 3rem;
        color: $off-black;
        background-color: $royal-red;
        box-shadow: 0.2rem 0.2rem 1rem $transparent-black;
    }

}