@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&display=swap');

.IndividualHabit {
    background-color: rgb(233, 221, 118);
    width: 30%;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.281);

    &__description-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Baloo Da 2';
    }

    &__habit-title {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    &__habit-description {
        font-size: 1.5rem;
        letter-spacing: 0.25rem;
    }

    &__count {
        font-size: 3.5rem;
    }
}