@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import "../../sass/variables.scss";

.IndividualHabit {
    background-color: $white;
    width: 85%;
    height: 10rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1rem $very-light-black;
    font-family: "Gotu";
    cursor: pointer;
    


    &__container {
        height: 100%;
    }

    &__content-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__habit-img {
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        opacity: 0.8;
        margin-left: 1rem;
        box-shadow: 0.1rem 0.1rem 1rem $very-light-black;
    }

    &__text-container {
        height: 100%;
        width: 72.5%
    }

    &__habit-title {
        margin-top: 0.5rem;
        font-size: 1.75rem;
        letter-spacing: 0.2rem;
    }

    &__habit-description {
        width: 95%
    }

    &__bar-container {
        width: 70%;
        padding-top: 1rem;
    }

    &__points-container {
        display: flex;
    }

    &__point-container {
        display: flex;
        margin-left: 3rem;
        align-items: center;
        margin-bottom: -0.5rem;
    }

    &__point {
        font-size: 1.25rem;
        font-family: "Lato";
    }

    &__img {
        width: 1rem;
        margin-left: 0.5rem;
    }
}