@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.Header {
    background: linear-gradient(to right bottom, $primary-color, 75%, $primary-color-light);
    height: 85vh;

    &__container {
        height: 100%;
        width: 100%;
        position: relative;
    }

    &__description-container {
        color: $primary-white;
        position: absolute;
        top: 45%;
        left: 7.5%;
        transform: translate(0%, -50%);
        width: 60rem;

    }

    &__heading {
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    &__description {
        line-height: 2.75rem;
        font-size: 1.8rem;
    }

    &__btn-container {
        margin-top: 2rem;
    }

    &__sign-in-btn {
        padding: 1.75rem 3.5rem;
        margin-right: 4rem;
        border: none;
        font-weight: 700;
        border-radius: 0.3rem;
        cursor: pointer;
        color: $primary-white;
        width: 25rem;

        &--google {
            background-color: $google-orange;

        }

        &--facebook {
            background-color: $facebook-blue;
        }
    }

    &__img-container {

        position: absolute;
        width: 60rem;
        top: 42.5%;
        left: 55%;
        transform: translate(0%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

    &__img {
        width: 50rem;
    }
}


@include width-1350px {
    .Header {

        &__img-container {
            width: 50rem;
        }

        &__img {
            width: 45rem;
        }
    }
}

@include width-1250px {
    .Header {

        &__img-container {
            left: 60%;
            width: 45rem;
        }

        &__img {
            width: 40rem;
        }
    }
}

@include width-1150px {
    .Header {

        &__img-container {
            left: 62.5%;
            width: 38rem;
        }

        &__img {
            width: 33rem;
        }
    }
}

@include width-1050px {
    .Header {

        &__img-container {
            display: none;
        }

        &__description-container {
            text-align: center;
            left: 50%;
            transform: translate(-50%, -50%);
        }

       
    }
}

@include width-650px {
    .Header {
        &__description-container {
            width: 80%;
        }

        &__heading {
            margin-bottom: 1rem;
            font-size: 2.5rem;
        }
    
        &__description {
            line-height: 2.75rem;
            font-size: 1.5rem;
        }

        &__sign-in-btn {
            margin: 0 auto;
            margin-bottom: 1rem;
        }
    }
}