@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.About {
    height: 95vh;
    color: $black;

    &__container {
        background-color: $primary-white-light;
        width: 87.5%;
        margin: 0 auto;
        padding: 7.5rem;
        margin-top: -10rem;
        height: 100%;
        border-radius: 0.5rem;
        box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.425);
    }

    &__description-container {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        font-size: 2rem;
        line-height: 3rem;
    }

    &__heading {
        margin-bottom: 3rem;
    }

    &__card-container {
       display: flex;
        width: 75%;
        margin: 0 auto;
        margin-top: 5rem;
        justify-content: space-between;
    }

    &__card {
        height: 27.5rem;
        transition: 0.5s;
        width: 27.5%;
        text-align: center;
        padding: 2rem;
        border-radius: 0.4rem;

        &:hover {
            box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.281);
        }
    }

    &__card-icon {
        width: 5rem;
    }

    &__card-heading {
        margin: 1rem 0;
        margin-top: 2rem;
        font-size: 1.5rem
    }

    &__card-description {
        font-size: 1.25rem;
        line-height: 2rem;
    }

}

@include width-1150px {
    .About {

        height: auto;

        &__card-container {
            width: 90%
        }

        &__card {
            width: 30%;
        }
    }
}

@include width-1000px {
    .About {

        &__card-container {
            width: 90%;
            flex-direction: column;
        }

        &__card {
            width: 60%;
            margin: 0 auto;
            margin-top: 3rem;
            height: auto;
        }

        &__card-heading {
            font-size: 2.25rem;
        }

        &__card-description {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}

@include width-750px {
    .About {
        &__card {
            width: 95%;
        }

    }
}

@include width-650px {
    .About {
        &__card-container {
            width: 100%
        }

        &__description {
            display: none
        }
    }
}