@import "../../sass/variables.scss";

.CreateHabitsForm {
    height: 100vh;
    position: relative;

    &__container {
        height: 100%;
        display: flex;
    }

    &__greeting-container {
        height: 100%;
        width: 35%;
        background-image: linear-gradient(to right, $secondary-color, $secondary-color-dark), url("../../assets/images/simple-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__text-container {
        width: 30%;
        margin-top: -5rem;
        text-align: center;
        color: $primary-white;
        text-shadow: 0.1rem 0.1rem 1rem $very-light-black;
       position: fixed;
    }

    &__heading {
        font-size: 6.5rem;
        margin-bottom: 1.5rem;
    }

    &__description {
        font-size: 2rem;
        line-height: 3rem;

        & span {
            color: $royal-red;
           
        }
    }

    &__title-input-container:not(first) {
        margin-top: 4rem;
    }

    &__form-container {
        width: 65%;  
        display: flex;
        align-items: center; 
        overflow: hidden;
        flex-direction: column;
        position: relative;
    }

    &__form-page-containter {
        height: 100%;
        width: 100%;
       
    }

    &__form {
        height: 100%;
        width: 100%;
        padding: 0 5rem;
        padding-top: 5rem;
       
    }

    &__form-heading {
        font-size: 2.75rem;
        color: $off-black;
        margin-bottom: 1rem;
        
    }

    &__form-description {
        font-size: 1.5rem;
        width: 85%;
        line-height: 2rem;
        color: $grey;

        & span {
            font-size: 1.05rem;
            color: $off-black;
            font-weight: 900;
        }
    }

    &__input-container {
        position: relative;
        width: 60%;
        overflow: hidden;
        margin-top: 0.75rem;
    }

    &__input {
        width: 100%;
        padding-top: 2rem;
        border: none;
        outline: none;
        color: $off-black;
        padding-bottom: 0.2rem;

        &:focus + .CreateHabitsForm__label span, 
        &:valid + .CreateHabitsForm__label span {
            transform: translateY(-125%);
            color: $secondary-color;
            font-weight: 900;
            opacity: 1
        }

        &:focus + .CreateHabitsForm__label::after,
        &:valid + .CreateHabitsForm__label::after {
            transform :translateX(0%)
        }
    }

    &__label {
        position: absolute;
        bottom: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 0.15rem solid $very-light-black;
        

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            border-bottom: 0.3rem solid $secondary-color;
            left: 0;
            bottom: -0.1rem;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }
    }

    &__label-name {
        position: absolute;
        bottom: 0.5rem;
        transition: all 0.3s ease;
        left: 0;
        font-size: 1.1rem;
        font-weight: 700;
        color: $grey;
    
    }

    &__continue-btn {
        margin: 2rem 0;
        padding: 1rem 4rem;
        width: 20rem;
        border: none;
        cursor: pointer;
        border: 0.15rem solid $secondary-color;
        border-radius: 0.5rem;
        color: $off-black;
        background-color: white;
        font-weight: 700;
        color: $grey;
        position: absolute;
        bottom: 0;
        left: 5%;
        transition: 0.3s all ease;

        &:focus {
            outline : none
        }

        &:hover {
            transform: scale(1.025);
        }
    }


    // SECOND FORM //

    &__second-form {
        float: left;
        position: absolute;
        width: 100%;
        height: 100%
    }

    &__range-input {
        height: 2.5rem;
        width: 100%;
        cursor: pointer;
        border-radius: 0.25rem;
    }

    &__submit-btn {
        @extend .CreateHabitsForm__continue-btn;
        border: 0.15rem solid $secondary-color-darker;
        left: 30%
    }


}


